* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

html, body {
	font-size: 10px;
	background:#d3d3d3;
}

h1 {
	font-size: 4rem;
	margin-bottom: 5px;
}

h2 {
	font-size: 2.6rem;
	text-transform: uppercase;
	color: #444;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.App {
	text-align: center;
}

.App-header {
	background-color: #1D1D1B;
	color: #ffbe00;
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.App-main {
	min-height: 70vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}